<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Login</title>
</head>
<body>
    <h1>LifeWall</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <h2>Registration</h2>
    <form action="/login/register" method="POST">
        {% csrf_token %}
        First Name: <input type="text" name="first_name"><br><br>
        Last Name: <input type="text" name="last_name"><br><br>
        Birthdate: <input type="date" name="birthdate"><br><br>
        Email: <input type="email" name="email"><br><br>
        Password: <input type="password" name="password"> Password must be at least 8 characters, contain "cat", the number 5, and no special characters<br><br>
        Confirm PW: <input type="password" name="pw_check"><br><br>
        <input type="submit" value="Register">
    </form><br><br><br>
    <h2>Login</h2>
    <form action="/login/login" method="POST">
        {% csrf_token %}
        Email: <input type="email" name="email"><br><br>
        Password: <input type="password" name="password"><br><br>
        <input type="submit" value="Log In">
    </form>
</body>
</html>